{
  "presets": [["env", { "modules": false }], "react", "stage-1"],
  "env": {
    "test": {
      "plugins": [
        ["dynamic-import-node"],
        ["transform-es2015-modules-commonjs", { "strictMode": false }]
      ]
    },
    "production": {}
  },
  "plugins": [
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
